Data Cleaning

In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_excel("Sales.xlsx")

In [11]:
df.head()

  Order Date Product Name     Category Region  Quantity  Sales   Profit
0 2022-01-01        Mouse  Accessories   East         3   3474   565.00
1 2022-01-01      Monitor  Accessories  South         8   1296   273.97
2 2022-01-01     Keyboard  Accessories   East         6   6372   570.75
3 2022-01-01       Tablet  Electronics  North         9   9234  2523.67
4 2022-01-01   Headphones  Accessories  South         7   3941   628.96

In [21]:
df.tail()

     Order Date Product Name     Category Region  Quantity  Sales   Profit
3495 2024-12-30   Headphones  Accessories   West         9   8703  1562.88
3496 2024-12-30        Mouse  Accessories  North         1    746   131.25
3497 2024-12-30       Camera  Electronics  North         1    379    39.41
3498 2024-12-31      Printer       Office  North         4   3640   348.93
3499 2024-12-31   Smartphone  Electronics   West         6    930   213.60

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    3500 non-null   datetime64[ns]
 1   Product Name  3500 non-null   object
 2   Category      3500 non-null   object
 3   Region        3500 non-null   object
 4   Quantity      3500 non-null   int64
 5   Sales         3500 non-null   int64
 6   Profit        3500 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 191.5+ KB

In [13]:
df.describe()

                          Order Date     Quantity         Sales       Profit
count                           3500  3500.000000   3500.000000  3500.000000
mean   2023-07-13 00:53:53.828571136     4.931714   3047.966000   527.047203
min              2022-01-01 00:00:00     1.000000     51.000000     6.970000
25%              2022-10-16 18:00:00     3.000000   1049.500000   158.695000
50%              2023-07-21 12:00:00     5.000000   2350.500000   361.070000
75%              2024-04-16 06:00:00     7.000000   4537.000000   729.125000
max              2024-12-31 00:00:00     9.000000  10782.000000  2946.930000
std                              NaN     2.575895   2440.213237   504.139732

In [14]:
df.shape

(3500, 7)

In [15]:
df.columns

Index(['Order Date', 'Product Name', 'Category', 'Region', 'Quantity', 'Sales',
       'Profit'],
      dtype='object')

In [16]:
df.isnull().sum()

Order Date      0
Product Name    0
Category        0
Region          0
Quantity        0
Sales           0
Profit          0
dtype: int64

Remove Duplicates

In [17]:
df.duplicated().sum()
df = df.drop_duplicates()

In [19]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [22]:
df['Product Name'] = df['Product Name'].str.strip()
df['Category'] = df['Category'].str.strip()
df['Region'] = df['Region'].str.strip()

In [24]:
df.to_excel("cleaned_data.xlsx", index=False)